<% provide(:title,"About")%>
<div class="jumbotron">
  <h1> About </h1>
  <strong> This file lives in /app/views/static_pages/about.html.erb/ </strong>
  <br>
  <br>
  <p>This is a sample blog solely created for learning RoR, in no way is it unique but implements the standards of backend development coupled with basic frontned design using Bootstrap.</p>
</div>
