<% provide(:title,"Help")%>
<div class="jumbotron">
  <h1> Help </h1>
  <strong> This file lives in /app/views/static_pages/help.html.erb/ </strong>
  <br>
  <br>
  <p> This project's repo can be accessed at https://github.com/jcgalbano/rails-small-blog </p
</div>
