<% provide(:title,"Articles")%>

<div class="jumbotron">
  <h1>Welcome to the Articles Page</h1>
  <p> This file lives in /app/views/articles/index.html.erb/</p><br>
</div>
<% @articles.each do |article|%>
  <div class='article-box'>

    <div class="post-content">
      <strong>Title: </strong>
      <%= article[:title]%> 
      
      <br>

      <strong>Text: </strong>
      <%= article[:text]%>
    </div>
    <br>
    <%= link_to "View", '/articles/'+ article[:id].to_s, :class => "action-buttons"%> 

  </div>

  <br><br>

<%end%>
