<h1>Articles Archive</h1>
<p> This file lives in /app/views/articles/index.html.erb/</p><br>
<% @articles.each do |article|%>
  <strong>Title: </strong>
  <%= article[:title]%><br>
  <strong>Text: </strong>
  <%= article[:text]%><br><br>
<%end%>
