<% provide(:title,"Articles")%>

<div class="jumbotron">
  <h1>Welcome to the Articles Page</h1>
</div>


<% @articles.reverse.each do |article|%>
  <div class='article-box'>

    
    <div class="post-content">
      <strong><h3><%= article[:title]%></h3></strong>
      <h5><%= article[:created_at].localtime.strftime("%Y-%m-%d")%> </h5>
      <br>
      <%= article[:text]%>
    </div>

    <br>

    <%= link_to "View Full Post", '/articles/'+ article[:id].to_s, :class => "action-buttons"%> 
  </div>

  <br>
  <br>

<%end%>
