<p>
  <strong>Title:</strong>
  <%= @article.title%>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text%>
</p>

<button type="button" class="btn btn-secondary">
  <%= link_to "Edit", @article.id.to_s + "/edit/"%> 
</button>
<button type="button" class="btn btn-secondary">
  <%= link_to "Delete", '', method: :delete, data: { confirm: 'Are you sure?'} %>
</button>
