<p>
  <strong>Title:</strong>
  <%= @article.title%>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text%>
</p>

  <%= link_to "Edit", @article.id.to_s + "/edit/", :class => "action-buttons"%> 
  <%= link_to "Delete", '', method: :delete, data: { confirm: 'Are you sure?'}, :class => "action-buttons" %>

