<% provide(:title,"Home")%>
<div class="jumbotron">
  <h1> Welcome to the Home Page </h1>
</div>
  <div class='article-box'>

    
    <div class="post-content">
      <div id="latest-label">
        <h2>Latest Entry</h2>
      </div>
      <strong><h3><%= @article[:title]%></h3></strong>
      <h5><%= @article[:created_at].localtime.strftime("%Y-%m-%d")%> </h5>
      <br>
      <%= @article[:text]%>
    </div>

    <br>

  </div>


